In [3]:
import requests

response = requests.get('https://randomuser.me/api/')
response

In [4]:
response.text

'{"results":[{"gender":"female","name":{"title":"Mrs","first":"Enni","last":"Korhonen"},"location":{"street":{"number":2724,"name":"Rautatienkatu"},"city":"Kuortane","state":"Satakunta","country":"Finland","postcode":36765,"coordinates":{"latitude":"-24.0510","longitude":"138.9799"},"timezone":{"offset":"-1:00","description":"Azores, Cape Verde Islands"}},"email":"enni.korhonen@example.com","login":{"uuid":"45864a6a-4ce4-4626-ab3a-506d3b6e8a0b","username":"redfrog144","password":"calibra","salt":"V6sAjz5T","md5":"f132d4a504e84069c9dc18bf11c9d482","sha1":"d40790d643ed0ae2f091f3d1a371574f60b9480e","sha256":"66b9d0d70d243f10b7bd6dae4a44d9b0bec55534a19d8cc636196f8260647d80"},"dob":{"date":"1965-12-23T06:51:59.819Z","age":56},"registered":{"date":"2019-10-10T08:51:58.943Z","age":3},"phone":"07-395-607","cell":"045-562-11-01","id":{"name":"HETU","value":"NaNNA404undefined"},"picture":{"large":"https://randomuser.me/api/portraits/women/23.jpg","medium":"https://randomuser.me/api/portraits/med/women/23.jpg","thumbnail":"https://randomuser.me/api/portraits/thumb/women/23.jpg"},"nat":"FI"}],"info":{"seed":"8c77a97810dc1332","results":1,"page":1,"version":"1.4"}}'

In [21]:
import json

# creating a json string

sample_json = '{"Emp_ID":1}'

sample_json

'{"Emp_ID":1}'

In [22]:
type(sample_json)

str

In [23]:
# obtaining as a python object 
python_data  = json.loads(sample_json)

In [24]:
python_data

{'Emp_ID': 1}

In [25]:
type(python_data)

dict

In [33]:
json_data = '{"name":"Atulya","age":28,"city":"New Delhi","some_val":null}'

In [34]:
type(json_data)

str

In [35]:
python_obj = json.loads(json_data)

In [38]:
print(python_obj)
print(python_obj['name'])
print(python_obj['age'])
print(python_obj['city'])
print(python_obj['some_val'])
print(type(python_obj['name']))
print(type(python_obj['age']))
print(type(python_obj['city']))
print(type(python_obj['some_val']))

{'name': 'Atulya', 'age': 28, 'city': 'New Delhi', 'some_val': None}
Atulya
28
New Delhi
None
<class 'str'>
<class 'int'>
<class 'str'>
<class 'NoneType'>

In [39]:
json_data_new = '{"Employee":{"name":"Atulya","age":28,"city":"New Delhi","some_val":null}}'

In [40]:
python_data = json.loads(json_data_new)

In [41]:
python_data

{'Employee': {'name': 'Atulya',
  'age': 28,
  'city': 'New Delhi',
  'some_val': None}}

In [42]:
python_data['Employee']

{'name': 'Atulya', 'age': 28, 'city': 'New Delhi', 'some_val': None}

In [43]:
print(type(python_data['Employee']))

<class 'dict'>

In [44]:
python_data['Employee']['name']

'Atulya'

In [45]:
employee = python_data['Employee']

print(employee)
print(employee['name'])
print(employee['age'])
print(employee['city'])
print(employee['some_val'])
print(type(employee['name']))
print(type(employee['age']))
print(type(employee['city']))
print(type(employee['some_val']))

{'name': 'Atulya', 'age': 28, 'city': 'New Delhi', 'some_val': None}
Atulya
28
New Delhi
None
<class 'str'>
<class 'int'>
<class 'str'>
<class 'NoneType'>

In [48]:
another = '{"Cars":["Volvo","Audi","McLaren","Hyundai"]}'

In [49]:
another_python = json.loads(another)

In [50]:
for item in another_python["Cars"]:
    print(item)

Volvo
Audi
McLaren
Hyundai